<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
<div id="container">
    <div class="log">
        <h2>Реєстрація</h2>
        <form method="post">
            <div class="input-cont">
                <input type="text" name="user_login">
                <label>Логін</label>
                <div class="border1"></div>
            </div>
            <div class="input-cont">
                <input type="password" name="user_password">
                <label>Пароль</label>
                <div class="border2"></div>
            </div>
            <div class="input-cont">
                <input type="text" name="user_fullname">
                <label>Повне ім'я</label>
                <div class="border1"></div>
            </div>
            <a href="/authorize">Вже маєте аккаунт?</a>
            <input type="submit" value="Зареєструватися">
        </form>
    </div>
</div>
</body>
</html>